@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
#root{
  height: 100vh;
  width: 100vw;
  background-color: rgb(30, 221, 145);
}
.container-fluid{
  display:flex;
  justify-content: center;
  height: 100vh;
  margin-bottom: 1vh;
  margin-left: 0.5vh;
 
}
.mute{
  margin-left: 1vh;
  justify-content: center;
  text-align:center;
}
.app {
  display:flex;
  justify-content: center;
  padding-top: 30vh;
}
.pads {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
}
.drum-pad{
  padding: 30px;
  margin: 10px;
}
.header{
  display:flex;
  justify-content: center;
  text-align:center;
  padding-top: 5vh;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}